// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

//full screen is needed
html,body {height:100%;}

//not so jumbo anymore
.jumbotron {
    padding: 0.5em 0.6em;
    h1 { font-size: 2em;}
    p {font-size: 1.2em;
       .btn {padding: 0.5em;}
    }
    float: left;
    width: 100%;
}

.container-fluid{
  height:100%;
  display: flex;
  flex-flow: column;
}

//a little help to wrap text
.container-fluid .well{
    flex: 1 1 auto;
    word-wrap: break-word;     
    overflow-wrap: break-word;
    width: 100%;
    overflow: scroll;
}
